
body{
  background-color: rgb(26, 23, 23);
}

.searchbox{

  background-color: rgba(58, 7, 7, 0.164);
  align-items: center;
  text-align: center;
  color: rgb(245, 245, 245);
  margin-left: 400px;
  margin-top: 50px;
  margin-right: 100px;
  padding-top: 50px;
  border-top-style: hidden;
  font-size: 25px;

}

.searchbox:focus{
  box-shadow: 0px 0px 8px 8px #072441;
}
.heading{
  color: rgb(20, 17, 13);
 text-align: center;
}

.select{
  color: aliceblue;
}